<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Title</title>


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#4894b7">
    <meta name="google" value="notranslate"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    <% if (htmlWebpackPlugin.options.metadata.env == 'production') { %>
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.css">
    <% } %>


</head>
<body>

<my-app>Loading...</my-app>


</body>
</html>